
.floating-card {
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow to make it appear floating */
  overflow: hidden; /* To ensure rounded corners work properly */
}

ion-tab-bar {
  border-radius: 20px;
  padding: 10px 0;
  background: transparent; /* Transparent background for the tab bar itself */
  --color-selected: #b82b2b; /* Selected tab button color */


}
