ion-content {
  height: 100%; // Ensure ion-content takes full height

  swiper-container {
    --swiper-pagination-color: var(--ion-color-primary);
    height: 100%; // Ensure the swiper-container fills the height

    div {
      height: 100%; // Ensure each slide fills the height
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

// Styles for active bullet
swiper-container::part(bullet-active) {
  margin-right: 1vh; // Adjust margin to space bullets horizontally
  width: 40px;
  border-radius: 4px;
}

// Styles for inactive bullet
swiper-container::part(bullet) {
  margin-right: 1vh; // Adjust margin to space bullets horizontally
  width: 15px;
  border-radius: 2px;
  background: #fff;
  opacity: 1;
}

// Footer styles
ion-footer {
  ion-toolbar {
    --background: #00000000; // Set toolbar background color
    padding-left: 10px;
    padding-right: 10px;

    ion-button {
      --background:#b82b2b;
      --color: #fff;
      --border-radius: 8px;
      --padding-start: 24px;
      --padding-end: 24px;
      margin-top: 70px;
      margin-left:30px ;
      margin-right: 30px;
      margin-bottom: 30px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

  }
}
}
